[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1QWts4Kplj24mYyW8rlTL8Iizy1bwiggY?usp=sharing)

In [19]:
import pandas as pd # Allow us to work with CSV files

In [20]:
# Load Twitter Dataset

df_sent_train = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/sentiment/train_text.txt", \
               sep = '\n', header=None, names=['tweets'])
df_sent_test = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/sentiment/test_text.txt", \
               sep = '\n', header=None, names=['tweets']) 
df_sent_val = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/sentiment/val_text.txt", \
               sep = '\n', header=None, names=['tweets']) 

# Read a CSV file from internet (Github) that does not have a header

In [21]:
pd.reset_option('^display.', silent=True) # Reset the default Pandas Display (Truncated)
display(df_sent_train)
display(df_sent_test)
display(df_sent_val)

                                                  tweets
0      QT @user In the original draft of the 7th book...
1      Ben Smith / Smith (concussion) remains out of ...
2      Sorry bout the stream last night I crashed out...
3      Chase Headley's RBI double in the 8th inning o...
4      @user Alciato: Bee will invest 150 million in ...
...                                                  ...
36368  @user \""So amazing to have the beautiful Lady...
36369  9 September has arrived, which means Apple's n...
36370  Leeds 1-1 Sheff Wed. Giuseppe Bellusci securin...
36371  @user no I'm in hilton head till the 8th lol g...
36372  WASHINGTON (Reuters) - U.S. Vice President Joe...

[36373 rows x 1 columns]

                                                  tweets
0      @user @user what do these '1/2 naked pics' hav...
1      OH: “I had a blue penis while I was this” [pla...
2      @user @user That's coming, but I think the vic...
3      I think I may be finally in with the in crowd ...
4      @user Wow,first Hugo Chavez and now Fidel Cast...
...                                                  ...
12027  Sentinel Editorial: FBI’s Comey ‘had no one of...
12028  perfect pussy clips #vanessa hudgens zac efron...
12029  #latestnews 4 #newmexico #politics + #nativeam...
12030  Trying to have a conversation with my dad abou...
12031  @user You are a stand up guy and a Gentleman V...

[12032 rows x 1 columns]

                                                 tweets
0     Dark Souls 3 April Launch Date Confirmed With ...
1     National hot dog day, national tequila day, th...
2     When girls become bandwagon fans of the Packer...
3     @user I may or may not have searched it up on ...
4     Here's your starting TUESDAY MORNING Line up a...
...                                                 ...
1618  @user  A trunk show by Pipa & bella & EKSMS on...
1619  kingpin Saudi Arabia posted a record $98 billi...
1620  @user @user I think after Charlie Hebdo the Fr...
1621  Beautiful Bouquet with our Beautiful Bentley #...
1622  LONDON (AP) " Prince George celebrates his sec...

[1623 rows x 1 columns]

In [23]:
# Comparing Original text vs Clean text (text after preprocessing)
pd.set_option("display.max_rows", None, "display.max_columns", None, 'display.max_colwidth', None)
# This option is used to print the entire Pandas dataframe (all rows, all columns & all content)
df_sent_train[0:10] # Output: Document located at index 10.

                                                                                                                                         tweets
0                        QT @user In the original draft of the 7th book, Remus Lupin survived the Battle of Hogwarts. #HappyBirthdayRemusLupin
1                                                           Ben Smith / Smith (concussion) remains out of the lineup Thursday, Curtis #NHL #SJ
2                 Sorry bout the stream last night I crashed out but will be on tonight for sure. Then back to Minecraft in pc tomorrow night.
3  Chase Headley's RBI double in the 8th inning off David Price snapped a Yankees streak of 33 consecutive scoreless innings against Blue Jays
4                           @user Alciato: Bee will invest 150 million in January, another 200 in the Summer and plans to bring Messi by 2017"
5                                        @user LIT MY MUM 'Kerry the louboutins I wonder how many Willam owns!!! Look Kerry Warner Wednesday!'
6  \"" SOUL TRAIN\"" OCT 27 HALLOWEEN SPECIAL ft T.dot FINEST rocking the mic...CRAZY CACTUS NIGHT CLUB ..ADV ticket $10 wt out costume $15...
7                                                               So disappointed in wwe summerslam! I want to see john cena wins his 16th title
8                                                                                  This is the last Sunday w/o football .....,NFL is back baby
9              @user @user CENA & AJ sitting in a tree K-I-S-S-I-N-G 1st goes AJ's  job then John's cred then goes Vicki with the GM position.